* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}

ul {
    width: 80vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    row-gap: 3vh;
    column-gap: 5vh;
    flex-wrap: wrap;
    padding: 2%;
    overflow: visible;
}

#current-tasks {
    border-bottom: 5px dotted black;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2vh;
    list-style: none;
    height: 5vh;
    border: 1px solid black;
    border-radius: 50px;
    padding: 1%;
    text-align: center;
    background-color: whitesmoke;
    font-size: 20px;
    overflow: visible;
}

.task-date {
    position: absolute;
    z-index: 10;
    display: none;
    white-space: nowrap;
    top: 130%;
}

.task-date:nth-of-type(2) {
  top: 100%;
}


li:hover .task-date {
  display: block;
}

li button {
    border: none;
    color: red;
    font-size: 36px;
    height: 100%;
    width: 4vh;
    border: 1px solid red;
}

input {
    width: 60vh;
    height: 5vh;
    text-align: center;
    font-size: 24px;
    background-color: whitesmoke;
}

input:focus{
    border: 3px solid black;
    background-color: white;
}

.delete-all {
    margin-top: 3vh;
    color: white;
    background-color: red;
    font-size: 24px;
    width: 60vh;
    border: none;
    padding: 5px;
}